// /* Слайдер */
.slick-slider {
    min-width: 0;
    /* для флексов. и когда флекс элемент, и когда внутри флекс элемента */
}

// /* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
// /* Лента слайдов */
.slick-track {
    display: flex;
    justify-content: center;
}

// team-member
// Точки
.team-member .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-member .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

/* Элемент точки */
.team-member .slick-dots li button {
    font-size: 0;
    width: 8px;
    height: 8px;
    background-color: #ffe4e1;
    border-radius: 50%;
}

/* Активная точка */
.team-member .slick-dots li.slick-active button {
    transform: scale(2);
    background-color: #f07566;
}

/* Слайд */
.team-member .slick-slide {
    margin: 0 15px 64px 15px;
}

/* Слайд по центру */
.team-member .slick-slide.slick-center {
    box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}

// category-quote
/* Стрелка */
.category-quote__arrows .slick-arrow {
    position: relative;
    margin-right: 8px;
    font-size: 0;
    width: 48px;
    height: 48px;
    background: #f07566;
    border-radius: 50%;
    &:hover {
        animation: shake 0.1s ease-in-out 0.1s infinite alternate;
    }
}
/* Стрелка влево */
.category-quote__arrows .slick-arrow.slick-prev {
    &::before {
        content: "";
        left: 16px;
        top: 14px;
        position: absolute;
        width: 12px;
        height: 20px;
        background-image: url(../img/slider-arrow-prev.svg);
        background-repeat: no-repeat;
        background-size: auto;
        z-index: 10;
    }
}
/* Стрелка вправо */
.category-quote__arrows .slick-arrow.slick-next {
    &::before {
        content: "";
        right: 16px;
        top: 14px;
        position: absolute;
        width: 12px;
        height: 20px;
        background-image: url(../img/slider-arrow-next.svg);
        background-repeat: no-repeat;
        background-size: auto;
    }
}
/* Стрелка не активная */
.category-quote__list .slick-arrow.slick-disabled {
}
